body {
  margin: 0px;
}

#backgroundImg {
  background: url("../images/clouds.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#landingWrapper {
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

#weatherForecast {
  margin-bottom: 2%;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 11vh;
  line-height: 85%;
  color: #fff;
}

@media only screen and (min-width: 769px) {
  #weatherForecast {
    font-size: 25vh;
  }
}

#inputCity {
  color: lightgrey;
}

#inputDate {
  color: lightgrey;
}

#inputBtn {
  top: 1%;
  background-color: cornflowerblue;
}

#inputBtnArrow {
  width: auto;
}

.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
